<input
  type="text"
  [(ngModel)]="password"
  (input)="passwordHandler()"
  class="border-cyan-400 border-2 w-80 h-9 px-2 outline-lime-400 rounded-lg"
/>
<div class="my-5 flex flex-col justify-center items-center font-bold">
  <div
    [ngClass]="{
      'bg-gray-400': strength === 'empty',
      'bg-red-600 text-white': strength === 'small' || strength === 'easy',
      'bg-yellow-400': strength === 'medium',
      'bg-green-600 text-white': strength === 'strong'
    }"
    class="py-3 w-1/6 my-1 rounded-md"
  >
    Easy
  </div>
  <div
    [ngClass]="{
      'bg-gray-400': strength === 'empty' || strength === 'easy',
      'bg-red-600 text-white': strength === 'small',
      'bg-yellow-400': strength === 'medium',
      'bg-green-600 text-white': strength === 'strong'
    }"
    class="py-3 w-1/6 my-1 rounded-md"
  >
    Medium
  </div>
  <div
    [ngClass]="{
      'bg-gray-400':
        strength === 'empty' || strength === 'easy' || strength === 'medium',
      'bg-red-600 text-white': strength === 'small',
      'bg-green-600 text-white': strength === 'strong'
    }"
    class="py-3 w-1/6 my-1 rounded-md"
  >
    Strong
  </div>
</div>
